<%= form_for([@org_user_privilege.organization, @org_user_privilege]) do |f| %>
<% if @org_user_privilege.errors.any? %>
<div id="error_explanation" class="alert alert-danger" role="alert">
	<strong><%= pluralize(@org_user_privilege.errors.count, "error") %> prohibited this team member from being saved:</strong>

	<ul>
		<% @org_user_privilege.errors.full_messages.each do |message| %>
		<li><%= message %></li>
		<% end %>
	</ul>
</div>
<% end %>

<div class="row">
	<div class="form-group<%= f.object.errors[:user_id].empty? ? "" : " has-error has-feedback" %>">
		<%= f.label :user_via_email, 'Team Member\'s Email', { class: "control-label col-sm-2" } %>
		<div class="col-sm-10">
			<%= f.text_field :user_via_email, { class: "form-control", type: 'email', required: 'true' } %>
		</div>
	</div>
</div>
<div class="row">
	<div class="form-group<%= f.object.errors[:privileges].empty? ? "" : " has-error has-feedback" %>">
		<%= f.label :privileges, { class: "control-label col-sm-2" } %>
		<div class="col-sm-10">
			<%= f.select :privileges, OrgUserPrivilege::PRIVILEGE_CODES.keys.map {|a| [ a.to_s.gsub('_',' & ').titlecase, OrgUserPrivilege::PRIVILEGE_CODES[a] ] }, { prompt: 'Select Access Level on Organization' }, { class: "form-control" } %>
		</div>
	</div>
</div>

<div class="actions text-center">
	<%= f.submit "#{f.object.new_record? ? 'Add' : 'Update'} Member", class: "btn btn-success" %>
</div>
<% end %>
