

<% content_for :page_title do %>
Team Members - 
<% end %>
<div class="container">
	<div class="page-header">
		<h1>
			<div class="pull-left">
				<%= link_to "<span class=\"glyphicon glyphicon-step-backward\" aria-hidden=\"true\"></span>".html_safe, @organization, class: "btn btn-default", title: "Back" %>
				&nbsp;
			</div>

			<div class="pull-right">
				<%= link_to "<span class=\"glyphicon glyphicon-plus-sign\" aria-hidden=\"true\"></span> Add Member".html_safe, [:new, @organization, :org_user_privilege], class: "btn btn-success" %>
			</div>
			Listing Team Members
		</h1>
	</div>

	<table class="table table-striped table-hover tablesorter" id="Org User Privileges-table">


		<thead>
			<tr>
    
				<th><span>User</span></th>
				<th><span>Email</span></th>
				<th><span>Privileges</span></th>
				<th><span>Added</span></th>
				<th><span>By</span></th>
      
			</tr>
		</thead>

		<tbody>
			<% unless @org_user_privileges.any? %>
			<tr id="empty-table">
				<td class="bg-warning" colspan="2">No org_user_privileges created yet.</td>
			</tr>
			<% end %>
			<% @org_user_privileges.each do |org_user_privilege| %>
			<tr class="linked-row" data-href="<%= organization_org_user_privilege_path(org_user_privilege.organization, org_user_privilege) %>">
      
				<td><%= link_to org_user_privilege.user.full_name, [org_user_privilege.organization, org_user_privilege] %></td>
				<td><%= link_to org_user_privilege.user.email, [org_user_privilege.organization, org_user_privilege] %></td>
				<td><%= link_to org_user_privilege.privileges, [org_user_privilege.organization, org_user_privilege] %></td>
				<td><%= link_to "#{distance_of_time_in_words_to_now org_user_privilege.created_at} ago", [org_user_privilege.organization, org_user_privilege] %> </td>
				<td><%= link_to org_user_privilege.creator.full_name, [org_user_privilege.organization, org_user_privilege] %></td>
        
        
        
			</tr>
			<% end %>
		</tbody>
	</table>



</div>
