<% content_for :page_title do %>
org_user_privilege Details - 
<% end %>
<div class="container">
	<div class="page-header">
		<h1>
			<div class="pull-left">
				<%= link_to "<span class=\"glyphicon glyphicon-step-backward\" aria-hidden=\"true\"></span>".html_safe, organization_org_user_privileges_path(@org_user_privilege.organization), class: "btn btn-default", title: "Back to Team Members List" %>
				&nbsp;
			</div>
			<div class="pull-right">
				<%= link_to "<span class=\"glyphicon glyphicon-pencil\" aria-hidden=\"true\"></span> Edit".html_safe, edit_organization_org_user_privilege_path(@org_user_privilege.organization, @org_user_privilege), class: "btn btn-warning" %>
			</div>
			Team Member Details
		</h1>
	</div>


	<div class="row">
		<label class="col-sm-3 text-right text-muted">User</label>
		<div class="col-sm-9"><%= @org_user_privilege.user.full_name %></div>
	</div>

	<div class="row">
		<label class="col-sm-3 text-right text-muted">Privileges</label>
		<div class="col-sm-9"><%= @org_user_privilege.privileges %></div>
	</div>

	<div class="row">
		<label class="col-sm-3 text-right text-muted">Member Since</label>
		<div class="col-sm-9"><%= distance_of_time_in_words_to_now @org_user_privilege.created_at %> ago</div>
	</div>
	<div class="row">
		<label class="col-sm-3 text-right text-muted">Added By</label>
		<div class="col-sm-9"><%= @org_user_privilege.creator.full_name %></div>
	</div>


</div>

